{% extends 'base_user_connected.html.twig' %}

{% block title %}{{ 'index.pageTitle' }}{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ 'index.title' | trans }}</h1>
        </main>
    </div>
{% endblock %}
